

.navbar-brand img
{
    
    width: 70px;
    height: 50px;
}

.gallery
{
    
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
.gallery .carousel-indicators li
{
    
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.cards
{
    
    width: 80%;
    margin: auto;
}


#hambozo
{
    width: 200px;
    height: 200px;
    background-color: #09c;
}